// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

#login img {
    margin: 10px 0;
}
#login .center {
    text-align: center;
}

#login .login {
    max-width: 300px;
    margin: 35px auto;
}

#login .login-form {
    padding: 0px 25px;
}
